@page "/"
@rendermode @(new InteractiveServerRenderMode(false))

<PageTitle>Sand</PageTitle>

<div class="MainDiv">
  <PixelMap Width=500 Height=250 Delay=100 @ref="matrix"/>

  <button @onclick="Generate">Generate</button>
</div>

@code {
  private PixelMap matrix;

  private async void Generate() {
    DateTime startTime = DateTime.Now;
    await matrix.Generate();
    DateTime endTime = DateTime.Now;
    Console.WriteLine($"Generation time: {endTime.Subtract(startTime).Milliseconds} ms");
  }
}