.MainDiv ::deep img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 20px;

    border-style: dotted;
    border-width: thick;
    float: center;
}

.InfoBar ul {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.InfoBar li {
    display: inline-block;
    text-align: center; 
    padding: 12px;
}

.InfoBar button {
    background-color: lightgray;
    color: black;
}
.InfoBar p {
    color: black;
}