@page "/"
@rendermode @(new InteractiveServerRenderMode(false))

<PageTitle>Sand</PageTitle>

<div class="MainDiv">
  <PixelMap Width=500 Height=250 Scale=2 NextDelay=50 ClickDelay=15
  @ref="matrix" OnMouseDownCallback="ClickDown" OnMouseUpCallback="ClickUp" OnMouseMoveCallback="Move"/>

  <button @onclick="Generate">Generate</button>
</div>

@code {
  private PixelMap matrix;

  private async Task Generate() {
    DateTime startTime = DateTime.Now;

    await matrix.Generate();
    
    DateTime endTime = DateTime.Now;
    //Console.WriteLine($"Generation time: {endTime.Subtract(startTime).Milliseconds} ms");
  }

  private void ClickDown(MouseEventArgs args) {
    matrix.isClicking = true;
  }

  private void ClickUp(MouseEventArgs args) {
    matrix.isClicking = false;
  }

  private void Move(MouseEventArgs args) {
    matrix.mouseArgs = args;
  }
}