@page "/"
@rendermode @(new InteractiveServerRenderMode(false))

<PageTitle>Sand</PageTitle>

<div class="MainDiv">
  <PixelMap Width=500 Height=250 Scale=2 NextDelay=100 ClickDelay=10
  @ref="matrix" OnMouseDownCallback="ClickDown" OnMouseUpCallback="ClickUp" OnMouseMoveCallback="Move"/>
</div>

<div class="InfoBar">
  <ul>
    <li><button @onclick="() => ChangeRadius(1)">+</button></li>
    <li><button @onclick="() => ChangeRadius(-1)">-</button></li>
    <li><p>Radius: -</p></li>
    <li><button @onclick="Generate">Generate</button></li>
    <li><button>Freeze</button></li>
  </ul>
</div>

@code {
  private PixelMap matrix;

  private async Task Generate() {
    DateTime startTime = DateTime.Now;

    await matrix.Generate();
    
    DateTime endTime = DateTime.Now;
    //Console.WriteLine($"Generation time: {endTime.Subtract(startTime).Milliseconds} ms");
  }

  private void ChangeRadius(int delta) {
    matrix.clickRadius = Math.Clamp(matrix.clickRadius + delta, 1, 10);
  }

  private void ClickDown(MouseEventArgs args) {
    matrix.isClicking = true;
  }

  private void ClickUp(MouseEventArgs args) {
    matrix.isClicking = false;
  }

  private void Move(MouseEventArgs args) {
    matrix.mouseArgs = args;
  }
}