@page "/"
@rendermode @(new InteractiveServerRenderMode(false))

<PageTitle>Sand</PageTitle>

<div class="MainDiv">
  <PixelMap Width=500 Height=250 Delay=100 Scale=2
  @ref="matrix" OnClickCallback="Click"/>

  <button @onclick="Generate">Generate</button>
</div>

@code {
  private PixelMap matrix;

  private async Task Generate() {
    DateTime startTime = DateTime.Now;

    await matrix.Generate();
    
    DateTime endTime = DateTime.Now;
    Console.WriteLine($"Generation time: {endTime.Subtract(startTime).Milliseconds} ms");
  }

  private void Click(MouseEventArgs args) {
    DateTime startTime = DateTime.Now;

    matrix.Click(args);

    DateTime endTime = DateTime.Now;
    Console.WriteLine($"Generation time: {endTime.Subtract(startTime).Milliseconds} ms");
  }
}